@{
    ViewData["Title"] = "PaypalDemo";
}

<h1>Paypal Demo</h1>

<div id="paypal-button-container" style="max-width:1000px;"></div>
    
@section Scripts{

    <script src="https://www.paypal.com/sdk/js?client-id=@ViewBag.PaypalClientId"></script>
	<script>
		paypal.Buttons({
			style: {
				layout: 'vertical',
				color: 'silver',
				tagline: 'false'
			},
			createOrder: (data, actions) => {
				return fetch("/Payment/PaypalOrder", {
					method: "post",
				}).then((response) => {
					if (!response.ok) {
						return response.json().then(error => { throw error; });
					}

					return response.json();
				}).then((order) => order.id)
					.catch(error => alert(error.message));
			},
			onApprove: (data, actions) => {
				return fetch(`/Payment/PaypalCapture?orderId=${data.orderID}`, {
					method: "post",
				}).then((response) => {
					if (!response.ok) {
						return response.json().then(error => { throw error; });
					}

					//Đổi địa chỉ tới action thông báo thành công
					window.location.href = "/Payment/Success";
				}).catch(error => alert(error.message));
			}
		}).render('#paypal-button-container');
	</script>
}